#contactsPageTitle {
    width: 100%;
    left: 0px;
    top: 10px;
    position: relative;
    text-align: center;
    color: #0076BC;
    font-size: 30px;
    font-family: Montserrat;
    word-wrap: break-word;
}

#backgroundPic {
    width: 456px;
    height: 526px;
    position: absolute;
    left: 500px;
    top: 250px;
    opacity: 0.05;
}

.contactsInfo {
    margin: 10px;
    position: absolute;
    left: 70px;
}

#IconContainer1 {
    top: 130px;
}

#IconContainer2 {
    top: 280px;
}

#IconContainer3 {
    top: 430px;
}

#locationIconInfo {
    width: 60px;
    height: 70px;
}

#emailIconInfo {
    width: 70px;
    height: 70px;
}

#phoneIconInfo {
    width: 50px;
    height: 50px;
}

#mapIFrame {
    position: relative;
    height: 400px;
    width: 600px;
    left: 680px;
    top: 210px;
}

.infoDetails {
    top: 130px;
    left: 220px;
    align: left;
    position: relative;
    color: #03293F;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

@media only screen and (max-width: 768px) {

    #backgroundPic {
        width: 256px;
        height: 326px;
        position: absolute;
        left: 50px;
        top: 250px;
        opacity: 0.05;
    }

    .contactsInfo {
        margin: 10px;
        position: absolute;
        left: 10px;
    }

    #IconContainer1 {
        top: 130px;
    }

    #IconContainer2 {
        top: 280px;
    }

    #IconContainer3 {
        top: 430px;
    }

    #locationIconInfo {
        width: 40px;
        height: 50px;
    }

    #emailIconInfo {
        width: 55px;
        height: 55px;
    }

    #phoneIconInfo {
        width: 40px;
        height: 40px;
    }

    #mapIFrame {
        position: relative;
        height: 400px;
        width: 300px;
        left: 30px;
        right: 30px;
        top: 860px;
    }

    .infoDetails {
        position: relative;
        left: 120px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1090px) {
    #mapIFrame {
        position: relative;
        height: 400px;
        width: 300px;
        left: 30px;
        right: 30px;
        top: 860px;
    }
}