#ft {
    top: 2000px;
}

.footerAddInfo {
    padding-left: 100px;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 20px;
    padding-top: 10px;
}

#footerTable {
    width: 100%;
    height: 300px;
    top: 2050px;
    background: #0076BC;
    position: relative;
}

.titleFooter1 {
    text-align: left;
    color: white;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 3px solid;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.titleFooter2 {
    text-align: left;
    color: white;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 3px solid;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#col2additions {
    padding-left: 150px;
}


@media only screen and (max-width: 768px) {
    #ft {
        width: 100%;
    }

    .footerAddInfo {
        padding-left: 15px;
        color: white;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 500;
        word-wrap: break-word;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    #footerTable {
        width: 100%;
        height: 700px;
        top: 2050px;
        background: #0076BC;
        position: relative;
    }

    .titleFooter1 {
        text-align: left;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 500;
        font-weight: bold;
        word-wrap: break-word;
        border-bottom: 3px solid;
        color: white;
        padding-left: 15px;
        padding-bottom: 10px;
    }

    .titleFooter2 {
        text-align: left;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 500;
        font-weight: bold;
        word-wrap: break-word;
        border-bottom: 3px solid;
        border-top: 3px solid;
        color: white;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #col2additions {
        padding-left: 15px;
    }
}
