body {
    background-image: url(/pictures/blueCirclesBackgr2.jpg);
    background-repeat: no repeat;
    background-size: cover;
}
.pageTitle {
    width: 100%;
    top: 20px;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
    color: #0076BC;
    font-family: Montserrat;
}

.teacherIcon {
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 9999px;
}

.teacherName {
    position: relative;
    color: #03293F;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
    word-wrap: break-word;
}
