#headerDesign {
    background: #FFCC01;
    width: 100%;
    height: 60px;
    position: relative;
}

#schoolLogo {
    width: 38px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.headerText {
    left: 9px;
    top: 1px;
    position: absolute;
    color: #03293F;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word
}

.headerText2 {
    left: 100px;
    top: 29px;
    position: absolute;
    color: #03293F;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
    word-wrap: break-word;
}


#phoneIcon {
    width: 27px;
    height: 23px;
    position: absolute;
    margin-left: 100px;
    margin-top: 15px;
}

#phoneLink {
    margin-top: 15px;
    margin-left: 150px;
    position: absolute;
    color: #03293F;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
    word-wrap: break-word;
}

    #phoneLink:link {
        color: #03293F;
    }

    #phoneLink:visited {
        color: black;
    }

    #phoneLink:hover {
        color: #0076BC;
    }

    #phoneLink:active {
        color: blue;
    }

#facebookIcon {
    width: 30px;
    height: 29px;
    margin-top: 15px;
    margin-left: 380px;
    position: absolute;
    mix-blend-mode: darken;
}

#bgFlag {
    width: 38px;
    height: 25px;
    margin-top: 15px;
    margin-left: 500px;
    position: absolute;
}

#ft {
    top: 2000px;
}

.footerAddInfo {
    padding-left: 100px;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 20px;
    padding-top: 10px;
}

#footerTable {
    width: 100%;
    height: 300px;
    top: 2050px;
    background: #0076BC;
    position: relative;
}

.titleFooter1 {
    text-align: left;
    color: white;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 3px solid;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.titleFooter2 {
    text-align: left;
    color: white;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 3px solid;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#col2additions {
    padding-left: 150px;
}



@media only screen and (max-width: 768px) {

    #schoolLogo {
        width: 24px;
        height: 36px;
        top: 8px;
        left: 8px;
        position: absolute;
    }

    .headerText {
        left: 45px;
        top: 13px;
        position: absolute;
        color: #03293F;
        font-size: 17px;
        font-family: Montserrat;
        font-weight: 500;
        word-wrap: break-word
    }

    .headerText2 {
        left: 90px;
        top: 29px;
        position: absolute;
        color: #03293F;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 300;
        word-wrap: break-word;
    }


    #phoneIcon {
        width: 20px;
        height: 17px;
        position: absolute;
        margin-left: 235px;
        top: 6px;
    }

    #phoneLink {
        visibility: hidden;
    }



    #facebookIcon {
        width: 23px;
        height: 23px;
        top: 5px;
        margin-left: 280px;
        position: absolute;
        mix-blend-mode: darken;
    }

    #bgFlag {
        width: 28px;
        height: 18px;
        top: 5px;
        margin-left: 330px;
        position: absolute;
    }
    #ft {
        width: 100%;
    }

    .footerAddInfo {
        padding-left: 15px;
        color: white;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 500;
        word-wrap: break-word;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    #footerTable {
        width: 100%;
        height: 700px;
        top: 2050px;
        background: #0076BC;
        position: relative;
    }

    .titleFooter1 {
        text-align: left;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 500;
        font-weight: bold;
        word-wrap: break-word;
        border-bottom: 3px solid;
        color: white;
        padding-left: 15px;
        padding-bottom: 10px;
    }

    .titleFooter2 {
        text-align: left;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 500;
        font-weight: bold;
        word-wrap: break-word;
        border-bottom: 3px solid;
        border-top: 3px solid;
        color: white;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #col2additions {
        padding-left: 15px;
    }
}
