
.navbar {
    background: linear-gradient(180deg, hwb(202 0% 26%) 0%, rgba(0, 118, 188, 0.93) 0%, rgba(0, 118, 188, 0) 100%);
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .nav-list li {
        float: left;
        margin-left: 3%;
        height: 55px;
    }

        .nav-list li a {
            font-size: 23px;
            display: block;
            font-family: Montserrat;
            word-wrap: break-word;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .nav-list li a:hover {
                background-color: hwb(202 0% 26%);
                color: black;
                display: block;
            }

.dropdown {
    display: inline-block;
}

.dropdownContent {
    width: 250px;
    padding: 0%;
    margin: auto;
    margin-right: 200px;
    display: none;
    position: absolute;
    background-color: rgba(0, 160, 255, 0.05);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdownContent li {
        width: 250px;
        margin: auto;
        border: 1px solid rgba(3, 41, 63, 1);
        height: 5px;
        display: inline-block;
        height: 30px;
    }

        .dropdownContent li a {
            height: 5px;
            width: 218px;
            font-size: 15px;
            color: black;
            height: 5px;
            margin-right: 20px;
            text-decoration: none;
            display: block;
            text-align: left;
            font-size: 17px;
        }

#firstElement {
    margin: auto;
    margin-left: 40px;
}

    #firstElement li {
        margin: auto;
    }

.dropdownContent li a:hover {
    background-color: #ddd;
}

.childrenElement {
    margin-left: 250px;
    margin-top: -33.5px;
}

    .childrenElement li {
        display: none;
        background-color: rgba(255, 255, 255, 1);
    }

.dropdown:hover .dropdownContent {
    display: block;
}

.parentElement li:hover .childrenElement li {
    display: block;
    position: relative;
}





#logo {
    width: 25px;
    height: 30px;
}

#firstRowNav {
    margin-left: 2%;
}

.topnav {
    overflow: hidden;
    background-color: #ffcc01a5;
    position: relative;
}

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: rgb(0, 0, 0);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

        .topnav a.icon {
            background: rgb(91,167,212);
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

.menuItem:hover {
    background-color: #ddd;
}

.active {
    background-color: rgb(91,167,212);
    color: white;
}

@media only screen and (max-width: 1140px) {

    .navbar {
        display: none;
    }
}

@media only screen and (min-width: 1140px) {

    .burgerMenu {
        display: none;
    }
}

#headerDesign {
    background: #FFCC01;
    width: 100%;
    height: 60px;
    position: relative;
}

#schoolLogo {
    width: 38px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.headerText {
    left: 9px;
    top: 1px;
    position: absolute;
    color: #03293F;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word
}

.headerText2 {
    left: 100px;
    top: 29px;
    position: absolute;
    color: #03293F;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
    word-wrap: break-word;
}


#phoneIcon {
    width: 27px;
    height: 23px;
    position: absolute;
    margin-left: 100px;
    margin-top: 15px;
}

#phoneLink {
    margin-top: 15px;
    margin-left: 150px;
    position: absolute;
    color: #03293F;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
    word-wrap: break-word;
}

    #phoneLink:link {
        color: #03293F;
    }

    #phoneLink:visited {
        color: black;
    }

    #phoneLink:hover {
        color: #0076BC;
    }

    #phoneLink:active {
        color: blue;
    }

#facebookIcon {
    width: 30px;
    height: 29px;
    margin-top: 15px;
    margin-left: 380px;
    position: absolute;
    mix-blend-mode: darken;
}

#bgFlag {
    width: 38px;
    height: 25px;
    margin-top: 15px;
    margin-left: 500px;
    position: absolute;
}

#ft {
    top: 2000px;
}

.footerAddInfo {
    padding-left: 100px;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 20px;
    padding-top: 10px;
}

#footerTable {
    width: 100%;
    height: 300px;
    top: 2050px;
    background: #0076BC;
    position: relative;
}

.titleFooter1 {
    text-align: left;
    color: white;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 3px solid;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.titleFooter2 {
    text-align: left;
    color: white;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 3px solid;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#col2additions {
    padding-left: 150px;
}



@media only screen and (max-width: 768px) {

    #schoolLogo {
        width: 24px;
        height: 36px;
        top: 8px;
        left: 8px;
        position: absolute;
    }

    .headerText {
        left: 45px;
        top: 13px;
        position: absolute;
        color: #03293F;
        font-size: 17px;
        font-family: Montserrat;
        font-weight: 500;
        word-wrap: break-word
    }

    .headerText2 {
        left: 90px;
        top: 29px;
        position: absolute;
        color: #03293F;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 300;
        word-wrap: break-word;
    }


    #phoneIcon {
        width: 20px;
        height: 17px;
        position: absolute;
        margin-left: 235px;
        top: 6px;
    }

    #phoneLink {
        visibility: hidden;
    }



    #facebookIcon {
        width: 23px;
        height: 23px;
        top: 5px;
        margin-left: 280px;
        position: absolute;
        mix-blend-mode: darken;
    }

    #bgFlag {
        width: 28px;
        height: 18px;
        top: 5px;
        margin-left: 330px;
        position: absolute;
    }
    #ft {
        width: 100%;
    }

    .footerAddInfo {
        padding-left: 15px;
        color: white;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 500;
        word-wrap: break-word;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    #footerTable {
        width: 100%;
        height: 700px;
        top: 2050px;
        background: #0076BC;
        position: relative;
    }

    .titleFooter1 {
        text-align: left;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 500;
        font-weight: bold;
        word-wrap: break-word;
        border-bottom: 3px solid;
        color: white;
        padding-left: 15px;
        padding-bottom: 10px;
    }

    .titleFooter2 {
        text-align: left;
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 500;
        font-weight: bold;
        word-wrap: break-word;
        border-bottom: 3px solid;
        border-top: 3px solid;
        color: white;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #col2additions {
        padding-left: 15px;
    }
}
