.headerDesign {
    background: #FFCC01;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    position: static;
}

.headerText {
    width: 320px;
    height: 54px;
    left: 90px;
    top: 1px;
    position: absolute;
    text-align: center;
    color: #03293F;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word
}

.headerText2 {
    width: 150px;
    height: 36px;
    left: 178px;
    top: 29px;
    position: absolute;
    text-align: center;
    color: #03293F;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
    word-wrap: break-word;
}

#schoolLogo {
    width: 38px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 30px;
}

#phoneIcon {
    width: 27px;
    height: 23px;
    left: 987px;
    top: 20px;
    position: absolute;
}

#phoneLink {
    left: 1030px;
    top: 20px;
    position: absolute;
    color: #03293F;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
    word-wrap: break-word;
}

    #phoneLink:link {
        color: #03293F;
    }

    #phoneLink:visited {
        color: black;
    }

    #phoneLink:hover {
        color: #0076BC;
    }

    #phoneLink:active {
        color: blue;
    }

#facebookIcon {
    width: 30px;
    height: 29px;
    left: 1262px;
    top: 18px;
    position: absolute;
    mix-blend-mode: darken;
}

#bgFlag {
    width: 38px;
    height: 25px;
    left: 1382px;
    top: 18px;
    position: absolute;
}


.navigationBarSchool {
    width: 100%;
    overflow: hidden;
}

#menuList {
    overflow: hidden;
    background: linear-gradient(180deg, #0076BC 0%, rgba(0, 118, 188, 0.93) 0%, rgba(0, 118, 188, 0) 100%);
    list-style-type: none;
    position: sticky;
}

li {
    float: left;
    margin-left: 50px;
    font-size: 23px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

    li a {
        text-decoration: none;
        color: #03293F;
        display: block;
        padding: 12px 14px;
    }

        li a:hover {
            background-color: #0076BC;
            text-align: center;
            color: white;
        }


#contactsPageTitle {
    width: 100% left: 0px;
    top: 10px;
    position: relative;
    text-align: center;
    color: #0076BC;
    font-size: 30px;
    font-family: Montserrat;
    word-wrap: break-word;
}

#backgroundPic {
    width: 456px;
    height: 526px;
    position: absolute;
    left: 500px;
    top: 250px;
    opacity: 0.05;
}

.contactsInfo {
    margin: 10px;
    position: absolute;
    left: 70px;
}

#IconContainer1 {
    top: 130px;
}

#IconContainer2 {
    top: 280px;
}

#IconContainer3 {
    top: 430px;
}

#locationIconInfo {
    width: 60px;
    height: 70px;
}

#emailIconInfo {
    width: 70px;
    height: 70px;
}

#phoneIconInfo {
    width: 50px;
    height: 50px;
}

#mapIFrame {
    position: absolute;
    height: 400px;
    width: 600px;
    left: 800px;
    top: 320px;
}

.footerTitles {
    text-align: left;
    color: white;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    border-bottom: 1px solid;
    color: white;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerAddInfo {
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.footerTable {
    width: 100%;
    height: 300px;
    top: 700px;
    background: #0076BC;
    position: relative;
}

#titleFooter1 {
    width: 40%;
}

#titleFooter2 {
    width: 30%;
}
