@page
@model List<SimpleCMS.Admin.Models.MenuItemsViewModel>
>
@{
    <h3>MenuItems</h3>
    <ul>
        @foreach (var items in Model)
        {
            <li>@items.Title</li>
        }
    </ul>
}
