@page
@model SimpleCMS.Admin.Views.Shared._NavPartialModel
@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>["Title"] -NavMenu</title>
        <script src="~/js/HamburgerMenu.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/NavMenu.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/SimpleCMS.Admin.styles.css" asp-append-version="true" />
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="NavMenuContainer">
            <div id="row">
                <nav class="navigationBarSchool">
                    <ul id="menuList">
                        <li class="col-1 " style="margin-left: 50px;"><a href="mainPage.html" target="_blank"> начало </a></li>
                        <li class="col-1 "><a href="#"> училище </a></li>
                        <li class="col-1 "><a href="#"> прием </a></li>
                        <li class="col-1 "><a href="#"> за родителя </a></li>
                        <li class="col-1 "><a href="#"> за ученика </a></li>
                        <li class="col-1 "><a href="contactsPage.html" target="_blank"> контакти </a></li>
                        <li class="col-1 "><a href="#"> галерия </a></li>
                        <li class="col-1 "><a href="#"> профил на купувача </a></li>
                    </ul>

                    <div class="burgerMenu">
                        <div class="topnav">
                            <a href="#home" class="active"><img id="logo" src="pictures/Logo.PNG"></a>
                            <div id="myLinks">
                                <a class="menuItem" href="mainPage.html" target="_blank"> начало </a>
                                <a class="menuItem" href="#"> училище </a>
                                <a class="menuItem" href="#"> прием </a>
                                <a class="menuItem" href="#"> за родителя </a>
                                <a class="menuItem" href="#"> за ученика </a>
                                <a class="menuItem" href="contactsPage.html" target="_blank"> контакти </a>
                                <a class="menuItem" href="#"> галерия </a>
                                <a class="menuItem" href="#"> профил на купувача </a>
                            </div>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                <i class="fa fa-bars">⚡</i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </body>
    </html>
}
