@model SimpleCMS.Data.Models.StudentProgram

@{
    ViewData["Title"] = "StudentProgram";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LessonsNumber" class="control-label"></label>
                <input asp-for="LessonsNumber" class="form-control" />
                <span asp-validation-for="LessonsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfTheWeek" class="control-label"></label>
                <select asp-for="DayOfTheWeek" class="form-control">
                    <option value="">Select Day Of The Week</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <span asp-validation-for="DayOfTheWeek" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubjectName" class="control-label"></label>
                <input asp-for="SubjectName" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
