:root {
  --nav-style-font-family: "Outfit-SemiBold", Helvetica;
  --nav-style-font-weight: 600;
  --nav-style-font-size: 25px;
  --nav-style-letter-spacing: 0px;
  --nav-style-line-height: normal;
  --nav-style-font-style: normal;
  --h-1-font-family: "Outfit-Bold", Helvetica;
  --h-1-font-weight: 700;
  --h-1-font-size: 20px;
  --h-1-letter-spacing: 0px;
  --h-1-line-height: normal;
  --h-1-font-style: normal;
  --footed-text-font-family: "Outfit-Regular", Helvetica;
  --footed-text-font-weight: 400;
  --footed-text-font-size: 19px;
  --footed-text-letter-spacing: 0px;
  --footed-text-line-height: normal;
  --footed-text-font-style: normal;
  --inside-nav-font-family: "Outfit-Medium", Helvetica;
  --inside-nav-font-weight: 500;
  --inside-nav-font-size: 28px;
  --inside-nav-letter-spacing: 0px;
  --inside-nav-line-height: normal;
  --inside-nav-font-style: normal;
  --navv-font-family: "Outfit-SemiBold", Helvetica;
  --navv-font-weight: 600;
  --navv-font-size: 28px;
  --navv-letter-spacing: 0px;
  --navv-line-height: normal;
  --navv-font-style: normal;
  --teacher-names-font-family: "Outfit-Regular", Helvetica;
  --teacher-names-font-weight: 400;
  --teacher-names-font-size: 34px;
  --teacher-names-letter-spacing: 0px;
  --teacher-names-line-height: normal;
  --teacher-names-font-style: normal;
  --subject-font-family: "Peddana-Regular", Helvetica;
  --subject-font-weight: 400;
  --subject-font-size: 25px;
  --subject-letter-spacing: 0px;
  --subject-line-height: normal;
  --subject-font-style: normal;
  --klas-fond-font-family: "Outfit-Bold", Helvetica;
  --klas-fond-font-weight: 700;
  --klas-fond-font-size: 34px;
  --klas-fond-letter-spacing: 0px;
  --klas-fond-line-height: normal;
  --klas-fond-font-style: normal;
}
