@using SimpleCMS.Web.Models
@model List<MenuItemsViewModel>

<nav class="navbar">
    @foreach (var item in Model)
    {
        <ul class="nav-list">
            <li class="dropdown">
                <a id="firstElement" href="@item.Link">@item.Title</a>
                <ul id="firstElement" class="dropdownContent parentElement">
                    <li><a href="#">Категория 1</a></li>
                    <li>
                        <a href="#">Категория 2</a>
                        <ul id="secondElement" class="dropdownContent childrenElement">
                            <li><a href="#">Категория 1</a></li>
                            <li><a href="#">Категория 2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Категория 3</a>
                        <ul id="secondElement" class="dropdownContent childrenElement">
                            <li><a href="#">Категория 1</a></li>
                            <li><a href="#">Категория 2</a></li>
                        </ul>
                    </li>
                </ul>
        </ul>
    }
</nav>

<div class="burgerMenu">
     <div class="topnav">
        <a href="#home" class="active"><img id="logo" src="pictures/logo.PNG"></a>
           <div id="myLinks">
        
            @foreach (var item in Model)
            {
                <a class="menuItem" href="#">@item.Title</a>
            }
           </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars">⚡</i>
         </a>
     </div>             
</div>
</navigationBarSchool>
