@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Electronic Markbook";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/electronicMarkbookStylesheet.css" asp-append-version="true">


<div class="container text-center">
    <h2 class="pageTitle"> Електронен дневник </h2>

    <iframe src="https://app.shkolo.bg/" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="mapIFrame"></iframe>
    
</div>