@{
    ViewData["Title"] = "Home Page";
}
<div class="WelcomePhotoConatainer">
    <img id="WelcomePhoto" src="pictures/WelcomePhoto.jpg">
    <div class="WelcomeText">
        <h1 class="Welcome">
            Добре дошли
        </h1>
    </div>
    <button class="ReceptionButton">
        <a href="#">Прием 2023/2024 ⮞</a>
    </button>
</div>


<div class="SpecialitiesContainer">
    <img id="backGroundPhoto" src="pictures/BackGround.png">
    <div class="row spacialitiesBackground" id="ScpecialitiesText">
        <h1 class="col-6 SpecTitle"> Специалности</h1>
        <div class="row specialitiesRow">
            
                <div class="col-lg-4 col-md-6 col-sm-12 specialitiesPlace">
                    <div class="specialitiesSection">
                        <img src="pictures/Computer.png" class="specialitiesPictures">
                        <h3 class="SpecText">" "</h3>
                        <div class="SpecЕssenceText">
                            
                        </div>
                        <button class="moreInfo">
                            научи повече
                        </button>
                    </div>
                </div>
            
        </div>
    </div>
</div>
