@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"]= "List Of Teachers";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/listTeachersStyleSheet.css" asp-append-version="true">

<h2 class="pageTitle"> Учителски състав </h2>

<div class="container text-center">
	
	<div class="row">

		<div class="col-8">
			<img src="/pictures/principal.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Милена Димитрова - Директор </text>
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-sm-6">
			<img src="/pictures/zamDirektor1.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Мариян Атанасов </text>
		</div>
		<div class="col-sm-6">
			<img src="/pictures/zamDirektor2.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Любомир Минчев </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/NikolinkaNaneva.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Николинка Нанева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Виолина Стоянова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/DanielDenev.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Даниел Денев </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/SvetlanaKostova.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Светлана Костова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/MariaTodorova.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Мария Тодорова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/KrasimirTsankov.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Красимир Цанков </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Анелия Цанкова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/VelichkaFilimonova.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Величка Филимонова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/GeorgiGeorgiev.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Георги Георгиев </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/PetyaSpasova.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Петя Спасова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/SnejanaSpasova.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Снежана Спасова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/KrasimirPenev.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Красимир Пенев </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Емилия Косева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Милена Конакчиева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Иван Топузанов </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Милена Цанева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Сияйна Колева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/SvetoslavTsanev.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Светослав Цанев </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Николинка Никодимова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Геновева Илиева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Славена Тихова </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Емилия Косева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Милена Конакчиева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/userIcon.png" class="teacherIcon" /> </br>
			<text class="teacherName"> инж. Даниел Денев </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/IvanPalev.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Иван Палев </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/IvanGenov.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Иван Генов </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/IskraBlaginova.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Искра Благинова </text>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<img src="/pictures/DanielaBorisova.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Даниела Борисова </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/RenaDrankyuleva.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Рена Дранкюлева </text>
		</div>
		<div class="col-sm-4">
			<img src="/pictures/VenetaStefanova.png" class="teacherIcon" /> </br>
			<text class="teacherName"> Венета Стефанова </text>
		</div>
	</div>

</div>