
<div class="specialitiesPageContainer">
    <div class="specPageTitle">
        Име на специалността
    </div>
    <div class="row">
        <div class="col-lg-4 specPageSections">
            <div class="row specPagePhotoSection">
                <img class="specPagePhoto" src="pictures/Computer.png">

            </div>
            <div class="row specPagePhotoSection">
                <img class="specPagePhoto" src="pictures/Computer.png">
            </div>
        </div>
        <div class="col-lg-7 specPageTextSection">
            <div class="specPageDescription">
            </div>
        </div>
    </div>
</div>
